{% include 'account/header.html' %}
{% load static %}
<div class="main-body-container2er">
    <section class="bg_login">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 cuadro2 d-flex align-items-center justify-content-center flex-column">
                    <div class="box_login">
                        <div class="cuadro_login">
                            <h1 class="font-family-Outfit-SemiBold">
                                Set New Password
                            </h1>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group">
                                    <button type="submit" class="btn_enviar font-family-Inter-Medium mt-3 w-100">
                                        Change Password
                                    </button>
                                </div>
                            </form>
                            <a href="{% url 'login' %}">Back to Login</a>
                        </div>
                    </div>
                    <div class="copy">
                        <p class="font-family-Inter-Regular">
                            Copyright © 2024 Employee Management Company
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'account/footer.html' %}
</div>
